body {
            font-family: Arial;
            background: #f2f2f2;
            padding: 30px;
        }

        h2 {
            text-align: center;
        }

        .form-box {
            background: white;
            padding: 20px;
            border-radius: 8px;
            width: 400px;
            margin: auto;
            box-shadow: 0 0 10px #ccc;
        }

        input {
            width: 100%;
            padding: 8px;
            margin: 6px 0;
        }

        button {
            padding: 8px 12px;
            margin-top: 6px;
            cursor: pointer;
        }

        table {
            width: 100%;
            margin-top: 30px;
            border-collapse: collapse;
            background: white;
        }

        th, td {
            padding: 10px;
            border: 1px solid #ddd;
            text-align: center;
        }

        th {
            background: #333;
            color: white;
        }

        .edit { background: orange; }
        .delete { background: red; color: white; }